/* -------------------------responsive */
:root {
  --main-color: rgba(10, 0, 21, 0.605);
}
.container {
  margin: 0 auto;
}
@media screen and (min-width: 568px) {
  .container {
    width: 560px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* -------------------------headre */
.header {
  background-color: var(--main-color);
  padding: 10px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.header .container form {
  position: relative;
}
.header .container input {
  padding: 8px 0 8px 28px;
  outline: none;
  border-radius: 6px;
  transition: all 0.3s;
  width: 180px;
  border: none;
}
.header .container input:focus {
  width: 230px;
  padding: 8px 0 8px 35px;
}
.header .container i {
  margin: 4px 0 8px 5px;
  font-size: 19px;
  position: absolute;
  left: 0;
}
/* -------------------------------movie list */
.movies {
  margin-top: 60px;
}
.movies .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  column-gap: 20px;
  row-gap: 35px;
  color: white;
}
.movies .container .movie {
  box-shadow: 3px 2px 10px rgb(14, 0, 41);
  cursor: pointer;
}
.movies .container img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.movies .container .text {
  position: relative;
}
.movies .container .text .rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.movies .container .text .rating p {
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 3px;
  background-color: rgb(142, 57, 54);
  color: white;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
}
.movies .container .text .rating-num {
  border: 3px solid rgb(0, 25, 18);
  background-color: rgb(1, 42, 30);
  padding: 2px;
  box-shadow: inset 0 12px 6px rgb(6, 92, 57);
  border-radius: 3px;
}
.movies .container .text .rating i {
  color: rgb(228, 228, 7);
  margin-left: 2px;
}
.movies .container .text .title {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 350;
}
.movies .container .text .rel-date {
  text-align: right;
  font-size: 14px;
  margin-top: 3px;
  color: rgb(213, 213, 213);
}
.paginate li button,
.paginate li div {
  color: white;
}
.empty-list {
  display: block;
  text-align: center;
}
/* -----------------------------------movie detials*/
.movieDetails {
  margin-top: 60px;
}
.movieDetails .details {
  color: rgb(225, 218, 218);
  display: flex;
}
.movieDetails .container .img {
  width: 300px;
}
.movieDetails .container .text {
  padding: 0 30px;
}
.movieDetails .container .text p {
  font-size: 20px;
  margin-top: 30px;
}
.movieDetails .container .text p span {
  color: rgb(181, 98, 98);
  font-size: 23px;
  margin-right: 10px;
}
.movieDetails .container .text button {
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 30px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, rgb(12, 12, 121) 50%, white 50%);
  background-position: right;
  background-size: 200% 100%;
  /* border: 1px solid var(--main-color); */
  overflow: hidden;
  font-weight: bold;
  transition: 0.5s;
}
.movieDetails .container .text button:hover {
  background-position: left;
  color: white;
}
.movieDetails .container .text p i {
  color: rgb(203, 203, 1);
}
.movieDetails .container .img img {
  border-radius: 10px;
  width: 100%;
}
.movieDetails .container .story {
  margin-top: 40px;
  color: rgb(225, 225, 225);
  background: rgb(12, 12, 87);
  padding: 10px 20px;
  border-radius: 5px;
  line-height: 25px;
}
